@model IEnumerable<GLSOverviewWeb.employee>

@using GLSOverviewWeb.Controllers

@{
    ViewBag.Title = "Oversigt";
    car car = ViewBag.Car;
}

<h3>Car:  @car.Licenseplate</h3>
<table class="table table-striped">

    @foreach (var item in Model)
    {
        <tr onclick="document.location = '@Url.Action("RegisterCarCheked", new { id = item.Id })'">
            <td style="text-align: center">
                <h4> @Html.DisplayFor(modelItem => item.Name)</h4>
            </td>
        </tr>
    }

</table>