@model IEnumerable<GLSOverviewWeb.employee>

@using GLSOverviewWeb.Controllers

@{
    ViewBag.Title = "Oversigt";
}

<h2>Oversigt</h2>

<h3>Hjemme</h3>
<table class="table table-striped">
    @foreach (var item in Model)
    {
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>

            </tr>
        }
    }
</table>

<h3>Ude at køre</h3>

<h3>Afleveret</h3>



