@model GLSOverviewWeb.Models.employee

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<hr/>

<h4><small>Welcome back, @Html.DisplayFor(model => model.Name)</small></h4>

<ul>
    <li>
        @Html.ActionLink("Car Admin", "Index", "AdminCars")
    </li>
    <li>
        @Html.ActionLink("Employee Admin", "Index", "AdminEmployees")
    </li>
</ul>