@model GLSOverviewWeb.Models.employee

@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<hr/>

<h4><small>Welcome back, @Html.DisplayFor(model => model.Name)</small></h4>


<input type="button" class="btn btn-primary active" value="Manage Cars" onclick="location.href='@Url.Action("Index", "AdminCars")'" />
<input type="button" class="btn btn-primary active" value="Manage Employees" onclick="location.href='@Url.Action("Index", "AdminEmployees")'" />
